.grid-intro, .grid-info {
    padding: 80px 75px;
}

.intro, .info {
    padding: 0 25px;
}

.grid-intro h1, .grid-info h1 {
    text-align: left;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: auto;
    /* or 122% */


    background: linear-gradient(90.79deg, #0048FF 3.42%, #D6008D 82.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.grid-intro p, .grid-info p {
    width: 583.91px;
    height: 134.13px;
    left: 80.75px;
    top: 343.92px;

    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    /* or 180% */


    color: #555555;
}

.grid-intro img, .grid-info img {
    max-width: 300px;
}

.grid-intro, .grid-info {
    display: flex;
    flex-direction: row;
}