.content {
    padding: 0 25px;
}

.grid h1 {
    text-align: left;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: auto;
    /* or 122% */


    background: linear-gradient(90.79deg, #0048FF 3.42%, #D6008D 82.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.grid p {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    /* or 180% */


    color: #555555;
}

.grid img {
    max-width: 300px;
    max-height: 300px;
    margin: 15px 30px;
    align-items: center;
    text-align: center;
}

.grid {
    display: flex;
    flex-direction: row;
    padding: 80px 125px;
}

@media (max-width: 870px) {
    .grid  {
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .grid h1 {
        text-align: center;
    }

    .grid img {
        max-width: 300px;
        max-height: 300px;
        padding: 0 30px;
        margin: 15px 30px;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 377px) {
    .footer-contents span {
        font-size: 12px;
    }
}